#container{
    display: flex;
    flex-direction: column;
    position: center;
    text-align: center;
    background-color: aquamarine;
    width: 50%;
}

.list{
    padding: 5px;
}

.deleteBtn{
    border-radius: 5px;
}

